html{
    background-image : url("./images/concert.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height : 100%;
}

#center-div{
    position:absolute;
    z-index: 15;
    top: 30%;
    left: 45%;
    margin: -100px 0 0 -150px;
}

#input{
    font-family: 'Roboto Mono', monospace;
    width : 400px;
    height : 30px;
    background-color: transparent;
    border:0.5px  1px 0.5px 0.5px solid #681900;
}

#input:focus {
    outline-width: 0;
}

::placeholder{
    color : black;
    opacity : 0.9;
}

::-webkit-input-placeholder { /* Edge */
    color: black;
    opacity : 0.9;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: black;
    opacity : 0.9;
  }
  

#send-button{
    text-align: center;
    line-height: 10px;
    height: 30px;
    width : 70px;
    margin-left: 50px;
    margin-right : 0;
}